<div class="row d-flex justify-content-center">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 w-18rem mt-2">
    <div class="card shadow-sm h-100">
      <img
        src="../../../../../assets/images/emprendimiento.png"
        class="card-img-top"
        alt="Emprendimientos"
      />
      <div class="card-body">
        <h5 class="card-title">Descubre Emprendimientos</h5>
        <p class="card-text">
          Explora proyectos innovadores y apoya ideas creativas.
        </p>
        <a routerLink="/emprendimiento" class="btn btn-outline-primary"
          >Ver más</a
        >
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 w-18rem mt-2">
    <div class="card shadow-sm h-100">
      <img
        src="../../../../../assets/images/evento.jpeg"
        class="card-img-top"
        alt="Eventos"
      />
      <div class="card-body">
        <h5 class="card-title">Participa en Eventos</h5>
        <p class="card-text">
          Conecta con otros emprendedores y asiste a actividades exclusivas.
        </p>
        <a routerLink="/eventos" class="btn btn-outline-primary">Explorar</a>
      </div>
    </div>
  </div>
  <div
    class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 w-18rem min-h-100rem mt-2"
  >
    <div class="card shadow-sm h-100">
      <img
        src="../../../../../assets/images/comunidad.png"
        class="card-img-top"
        alt="Colaboración"
      />
      <div class="card-body">
        <h5 class="card-title">Colabora en Comunidad</h5>
        <p class="card-text">
          Comparte recursos y trabaja con otros emprendedores.
        </p>
        <a routerLink="/iniciarsesion" class="btn btn-outline-primary"
          >Involúcrate</a
        >
      </div>
    </div>
  </div>
</div>
