<p-toast />
<div class="centered-title">
  <h2>
    <span style="color: rgb(0, 0, 0)"> ROL</span>
  </h2>
</div>
<!--Tabla confiltro-->
<p-card>
  <div class="grid">
    <div class="flex col-offset-1 sm:col-3 md:col-2 xl:col-1">
      <p-button pRipple severity="success" label="Crear" icon="pi pi-plus" (click)="abrirCrearModal()"
        pTooltip="Abrir modal para crear el rol" [style]="{ width: '100%' }" />
    </div>
    <div class="sm:col-offset-3 sm:col-4 md:col-offset-4 md:col-4 xl:col-offset-7 xl:col-2">
      <p-iconField iconPosition="right">
        <p-inputIcon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Search" (input)="
            tablaRol.filterGlobal($any($event.target)!.value, 'contains')
          " placeholder="Filtrar" [style]="{ width: '100%' }" />
      </p-iconField>
    </div>
  </div>
  <!--TABLA-->
  <div class="grid">
    <div class="col-offset-1 col-10">
      <p-table [value]="listaRol" #tablaRol [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="10"
        [globalFilterFields]="['idRol', 'nombreRol', 'nomActivo','descripcion']" [rowsPerPageOptions]="[10, 20]">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th class="text-center" pSortableColumn="idRol">
              Código <p-sortIcon field="idRol"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="nombre">
              Nombre <p-sortIcon field="idRnombreol"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="activo">
              Estado <p-sortIcon field="activo"></p-sortIcon>
            </th>
            <th>Editar</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rol>
          <tr>
            <td class="text-center">{{ rol.idRol }}</td>
            <td class="text-center">{{ rol.nombreRol }}</td>
            <td class="text-center">
              <p-tag [value]="rol.activo ? 'ACTIVO' : 'INACTIVO'" [severity]="getSeverity(rol.activo)"></p-tag>
            </td>
            <td class="text-center">
              &nbsp;
              <p-button (onClick)="abrirModalEditar(rol)" icon="pi pi-pencil" styleClass="button-form"
                pTooltip="Abrir modal para editar el rol  seleccionado"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <!-- crear rol -->
</p-card>
<p-dialog [closable]="false" header="Agregar rol" [modal]="true" [visible]="displayCrearRol"
  [style]="{ width: '90%', 'max-width': '35rem' }">
  <div [formGroup]="fg!">
    <div class="grid pb-3">
      <div class="col-4">
        <label for="nombre" class="font-semibold w-6rem">Nombre:<span class="text-danger">*</span></label>
      </div>
      <div class="col-8">
        <input pInputText class="flex-grow-1 w-full" id="nombre" autocomplete="off" formControlName="nombre" pTooltip="Nombre del rol"
          style="text-transform: uppercase;" maxlength="51" />
        <br />
        <small class="p-error"
          *ngIf="fg.get('nombre')?.errors?.['required'] && (fg.get('nombre')?.dirty || fg.get('nombre')?.touched)">El
          nombre es obligatorio</small>
        <small class="p-error" *ngIf="fg.get('nombre')?.hasError('maxlength')">Se ha alcanzado el límite de 15
          caracteres.</small>
      </div>
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button label="Cancelar" severity="secondary" (click)="cerrarCrearModal()" />
      <p-button label="Crear"  (click)="crearRol()" />
    </div>
  </div>
</p-dialog>

<!-- Editar rol-->
<p-dialog [closable]="false" header="Editar rol" [modal]="true" [(visible)]="displayEditarRol"
  [style]="{ width: '90%', 'max-width': '30rem' }">

  <div [formGroup]="fg!">
    <div class="grid pb-3">
      <div class="col-4">
        <label for="nombre" class="font-semibold">Nombre:<span class="text-danger">*</span></label>
      </div>
      <div class="col-8">
        <input pInputText class="flex-grow-1 w-full" id="nombre" autocomplete="off" formControlName="nombre" pTooltip="Nombre del rol"
          style="text-transform: uppercase;" maxlength="51" />
        <br />
        <small class="p-error"
          *ngIf="fg.get('nombre')?.errors?.['required'] && (fg.get('nombre')?.dirty || fg.get('nombre')?.touched)">El
          nombre es obligatorio</small>
        <small class="p-error" *ngIf="fg.get('nombre')?.hasError('maxlength')">Se ha alcanzado el límite de 50
          caracteres.</small>
      </div>
      <div class="col-4">
        <label class="font-semibold w-6rem col" for="ny">Activo:</label>
      </div>
      <div class="col-8">
        <p-checkbox formControlName="activo" inputId="activo" class="checkActivar" binary="true"
          pTooltip="Marque la casilla si el estado del rol es activo" />
      </div>
    </div>

    <div class="flex justify-content-end gap-2">
      <p-button label="Cancelar" severity="secondary" (click)="cerrarEditarModal()" />
      <p-button label="Editar" [disabled]="!fg.valid" (click)="editarRol()" />
    </div>
  </div>
</p-dialog>